.noteList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.cardThumbnail {
  width: 200px;
  display: inline-block;
  white-space: normal;
  height: auto;
  margin: 20px 5px;
  padding: 10px;
  cursor: grab;
}

.cardThumbnail .card {
  height: 210px;
}

.noteCanvas .card {
  width: 90%;
  margin: 1em auto;
}

.noteCanvas .card:last-child {
  height: 40vh;
}
